// Typography
@import 'compass';
@import 'module/_color.scss';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$base-font-size: 14px;
$base-line-height: 22px;
@include establish-baseline;

@mixin large-button-text{
	@include adjust-font-size-to(24px); 
	font-weight: normal;
}

@mixin letter-press{
	text-shadow:0 -1px 1px black(0.6);
}

body, label, input, textarea, select, button { font-family: 'Open Sans', 'Helvetica Neue', Arial, "Liberation Sans", FreeSans, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei",  sans-serif; }

h1 { 

	@include adjust-font-size-to(64px); 
	font-weight: 700;
}

h2, h4, h6{
	@include adjust-font-size-to(24px);
	font-weight: normal;
}

h3 {
	@include adjust-font-size-to(22px);
	font-weight: 700;
	text-transform:uppercase;
	margin: 0.2em 0;
}

h5 {
	@include adjust-font-size-to(16px);
	font-weight: bold;
}

a {
	text-decoration: none;
	color:$primary-green;
}

.large-number {
	@include adjust-font-size-to(56px); 
	font-weight: 700;
}

.strike {
	text-decoration: line-through;
}