@import "_base.scss";
@import "module/_color.scss";
@import "module/_button.scss";
@import "module/_form.scss";
@import "module/_nav.scss";
@import "module/_progress.scss";
@import "zen";

$zen-column-count: 12; // Set the total number of columns in the grid.
$zen-gutter-width: 0;

// mixins

@mixin backgroundImage {
	z-index: 2;
	height:100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: cover;
}

@mixin heroImage {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

@mixin centerOverlay($height, $width) {
	z-index: 3;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -$height/2;
	margin-left: -$width/2;
}

@mixin bottomOverlay{
	z-index: 3;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 20px;
	margin-left: 40px;
}

@mixin card {
	background: #FFFFFF;
	-moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.24);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.24);
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.24);
}

// container layout

.container{
	display: block;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

// header


#header{
	background: $primary-green;
	display: block;
	height: 60px;
	padding-top: 20px;
	.logo{
		position: relative;
		display: inline-block;
		height: 100%;
	}
	.nav-top{
		height: 100%;
		display: inline-block;
		float: right;
	}
}


#main-content {
	background: url(/img/geometry.png);
	height: 100%;
	padding-bottom: 80px;
}

// intro section


.hero-image{ 
	@include heroImage;
}

.intro {
	position: relative;
	height: 340px;
	padding-top: 80px;
	background: black;

	.hero-text{
		color: white;
		z-index: 3;
		position: relative;
		@include letter-press;
		h1 {
			margin: 0;
		}
		h2 {
			margin: 0 0 1em 0;
		}
	}
	.hero-search{
		z-index: 3;
		position: relative;
		background: black(0.6);
		display: inline-block;
		padding: 3px 0;
		border-radius: 4px;
		border: 1px solid black;
		#city {
			width: 220px;
		}
		#singer,#time,#category {
			width: 80px;
		}
	}

}

#search-form {
	input {
		margin: 0 4px;
	}

	input[type="text"] {
		@include input-primary;
	}

	input[type="submit"] {
		@include button-primary($button-primary);
	}
}

// featured

.featured-container{
	height: 240px;
}

.featured-item {
	height: 100%;
	display: inline-block;
	width: 25%;
	position: relative;
	.featured-img {
		@include backgroundImage;
	}
	.artist-name {
		@include bottomOverlay;
		color:white;
		@include letter-press;
	}
}


.section-header{
	@include clearfix;
	.main-title {
		display: inline-block;
	}

	.second-title {
		float: right;
	}

	.control {
		margin-left: 1em;
		font-size: .6em;
		border-bottom: 1px solid $primary-green;
	}


}

// project card wide

.project-card-wide{
	@include card;
	@include zen-grid-container;
	height:270px;
	margin-bottom: 32px;

	.project-card-lead {
		height:100%;
		@include zen-grid-item(4, 1); 
		position: relative;
		.project-card-img{
			@include backgroundImage;
		}
		.project-card-button{
			@include button-large($button-primary);
			@include large-button-text;
			@include centerOverlay(74px, 168px);
		}
	}

	.project-card-detail{
		height:100%;
		@include zen-grid-item(8, 5);
		padding: 0 20px;
	}

}


.project-card-detail{
	@include zen-grid-container;
	.project-card-singer {
		@include zen-grid-item(8, 1);
	}
	.project-card-date {
		@include zen-grid-item(4, 9); 
		h3 {
			text-align: right;
			color:$primary-gray;
		}
	}
	.project-card-des {
		@include zen-clear();
		@include zen-grid-item(12, 1); 
		height: 138px;
		overflow: hidden;
	}
	.project-card-city {
		margin: 0;
		@include zen-clear();
		@include zen-grid-item(8, 1); 
		.city {
			color:$primary-gray;
		}

		.venue {
			padding-left: .6em;
		}

	}
	.project-card-other-city {
		@include zen-grid-item(4, 9);
		position: relative;
		a {
			display: block;
			text-align: right;
			line-height: 2em;
			padding-top: 0.9em
		}

	}
	.project-progress {
		@include zen-clear();
		@include zen-grid-item(12, 1); 
	}

	.project-card-number {
		@include zen-clear();
		@include zen-grid-item(12, 1); 
		text-align: right;
		font-size: .8em;
	}
}


// small project cards
.project-card-container {
	margin-left: -30px;
}

.project-card-small {
	@include card;
	width: 300px;
	margin-left: 30px;
	display: inline-block;
	.project-card-lead {
		height: 270px;
		position: relative;
		display: block;
		.project-card-img{
			@include backgroundImage;
			background-origin: top center;
		}
		.project-card-button{
			@include button-large($button-primary);
			@include large-button-text;
			@include centerOverlay(74px, 168px);
			opacity: 0;
			@include single-transition(all, 0.2s, ease-in, 0);
		}

	}

	.project-card-detail {
		@include zen-grid-container;
		height: 120px;
		overflow: hidden;
		display: block;
		padding: 5px 10px;
		font-size: .8em;
		.project-card-number {
			font-size: 1em;
		}
	}

	&:hover{
		.project-card-button{
			opacity: 1;
		}	
	}
}


// categories

.category-links{
	margin: 0;
	padding: 0;
	list-style: none;
	@include adjust-font-size-to(32px); 
	.category-item {
		display: inline-block;
		margin: 1em 0 0 2em;
		border-bottom: 1px solid $primary-green;
		a {
			@include single-transition(all, 0.2s, ease-in, 0);
			&:hover {
				color: $dark-gray;
			}			
		}

	}
}

// about wowcheer

#about {
	position: relative;
	height: 320px;
	padding: 40px 0;
	color: $dark-gray;
	@include adjust-font-size-to(24px); 
	.hero-image {
		background-image: url(/img/hero2.png);
	}
	.container {
		z-index: 3;
		position: relative;
		background: white(0.6);
		padding: 40px 0 0 0;
		height: 280px;
	}

	.title, .des {
		margin: 0;
		padding: 10px 40px;
	}

	.title {
		font-weight: bold;
		padding-top: 20px;
	}

	a {
		color:$dark-gray;
		border-bottom: 1px solid $dark-gray;	
	}
}


// footer

#footer {
	.container {
		@include zen-grid-container;
	}
	background: $dark-gray;
	color:white;

	.footer-links {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.footer-link-item {
		padding: 2px 0;
	}

	.bottom-nav-discover {
		@include zen-grid-item(3, 1);
	}
	.bottom-nav-profile {
		@include zen-grid-item(3, 4);
	}
	.bottom-nav-about {
		@include zen-grid-item(3, 7);
	}
	.bottom-nav-contact {
		@include zen-grid-item(3, 10);
	}
	.footer-bottom {
		font-size: .8em;
		padding: 40px;
		margin-top: 40px;
		border-top: 1px solid $seam-gray;
		@include zen-clear();
		@include zen-grid-item(12, 1);
		@include clearfix;

		.copy-right {
			float:left;
		}

		.footer-bottom-links{
			float: right;
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				margin-left: 1em;
			}
		}
	}
}



// project


.project {
	$zen-gutter-width: 10px;
	@include zen-grid-container;
	margin-top: 20px;
	.project-info {
		@include zen-grid-item(8, 1);
		@include card;
		padding: 0 20px;
	}

	.project-package {
		@include zen-grid-item(4, 9);
		padding: 0 10px;
		margin-top: 20px;
	}
}


.project-stats {
	
}