@import "module/_color.scss";
@import "module/_button.scss";
@import "module/_form.scss";

.container{
	display: block;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}


#header{
	background: $primary-green;
	display: block;
	height: 60px;
	padding-top: 20px;
	.logo{
		position: relative;
		display: inline-block;
		height: 100%;
	}
	.nav-top{
		height: 100%;
		display: inline-block;
		float: right;
	}
}

.intro {
	position: relative;
	height: 340px;
	padding-top: 80px;
	.hero-image{
		background-image: url(/img/hero.png);
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	.hero-text{
		color: white;
		z-index: 3;
		position: relative;
		text-shadow:0 -1px 1px black(0.6);
		h1 {
			margin: 0;
		}
		h2 {
			margin: 0 0 1em 0;
		}
	}
	.hero-search{
		z-index: 3;
		position: relative;
		background: black(0.6);
		display: inline-block;
		padding: 3px 0;
		border-radius: 4px;
		border: 1px solid black;
	}

}

#search-form {
	input {
		margin: 0 4px;
	}

	input[type="text"] {
		@include input-primary;
	}

	input[type="submit"] {
		@include button-primary($primary-green);
	}
}


.featured-item {
	display: inline-block;
	width: 25%;
}
