doctype 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh-CN">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="zh-CN">
//if IE 8
  <html class="no-js lt-ie9" lang="zh-CN">
//[if gt IE 8]><!
html(class='no-js', lang='zh-CN')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(property='qc:admins' content='55134540717216701676375')     
    <meta property="wb:webmaster" content="5009b16dd63d56f0" />
    title #{title} 
    meta(name='description', content='')
    meta(name='author', content='')
    
    meta(name='viewport', content='width=device-width,initial-scale=1')
    
    link(rel='stylesheet', href='/stylesheets/css/screen.css')
    link(rel='stylesheet', href='/stylesheets/css/print.css')
    link(rel='stylesheet', href='/stylesheets/css/ie.css')
    
    script(src='js/libs/modernizr-2.0.min.js')
    script(src='js/libs/respond.min.js')
  body
    block body
