extends layout
block body
  #main-content
    .container
      .section
        div(style="margin:auto; width:300px;padding-top:30px")   
          script(type='text/javascript').
              function toLoginQQ() {
                  window.open("/auth/qq","连接QQ",
                  "width=450,height=320,menubar=0,scrollbars=1,resizable=1,status=1,titlebar=0,toolbar=0,location=1");
              }
              function toLoginWeibo() {
                  window.open("/auth/weibo","连接微博",
                  "width=450,height=320,menubar=0,scrollbars=1,resizable=1,status=1,titlebar=0,toolbar=0,location=1");
              }
          div
            form(action='/login', method='post')
                    div
                        label 邮箱:
                        input(type='text', name='email' style="width:100%" )
                    div
                        label 密码:
                        input(type='password', name='password' style="width:100%")
                    p
                        input(type='submit', value='登陆' style="float:right")
                - if (message){
                   p #{message}
                - }
             
          div 使用合作账号登陆我去网 :
            a(href='#', onclick='toLoginQQ();')
                img(src='/img/qq_login.png')
            a(href='#', onclick='toLoginWeibo();')
                img(src='/img/weibo_login.png')
          
          



  