extends layout
block body
  #header
    .container
      a.logo(href="/") 
        img(src="img/logo.png", alt="wowcheer")
      ul.nav-top
        li
          a(href="/login") 登录
        li
          a(href="/signup") 注册
        li
          a(href="/about") 关于
  #main-content
    .intro
      .hero-image(style="background-image: url(/img/hero_artist1.png);")
      .container
        .hero-text
          h1.artist-name Phillip Phillips
          h2.location 北京 国家体育馆
    .container
      .project
        .project-info
          .project-timeline
            h2 项目进度
          .project-des
            h2 项目介绍
            .project-des-wrapper
              iframe(src='//player.vimeo.com/video/53160877', width='630', height='354', frameborder='0', webkitallowfullscreen='webkitallowfullscreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowfullscreen')
                p
                    a(href='http://vimeo.com/53160877') Phillip Phillips - Home
                    | from
                    a(href='http://vimeo.com/phillphill') PhillPhill.com
                    | on
                    a(href='https://vimeo.com') Vimeo
                    | .
          .project-comments
            h2 讨论
        .project-package
  #footer
    .container
      .bottom-nav-discover
        h5 发现项目
        ul.footer-links
          li.footer-link-item 
            a(href="http://", target="_blank") 最新项目
          li.footer-link-item
            a(href="http://", target="_blank") 热门项目
          li.footer-link-item
            a(href="http://", target="_blank") 推荐项目
          li.footer-link-item
            a(href="http://", target="_blank") 成功项目
          li.footer-link-item
            a(href="http://", target="_blank") 赞助商项目
          li.footer-link-item
            a(href="http://", target="_blank") 城市列表
          li.footer-link-item
            a(href="http://", target="_blank") 搜索项目
      .bottom-nav-profile
        h5 我的我去
        ul.footer-links
          li.footer-link-item 
            a(href="http://", target="_blank") 我的主页
          li.footer-link-item
            a(href="http://", target="_blank") 参加的演唱会
          li.footer-link-item
            a(href="http://", target="_blank") 项目列表
          li.footer-link-item
            a(href="http://", target="_blank") 个人设置
          li.footer-link-item
            a(href="http://", target="_blank") 注销我去
      .bottom-nav-about
        h5 关于我去
        ul.footer-links
          li.footer-link-item 
            a(href="http://", target="_blank") 什么是我去？
          li.footer-link-item
            a(href="http://", target="_blank") 项目帮助
          li.footer-link-item
            a(href="http://", target="_blank") 开发团队
          li.footer-link-item
            a(href="http://", target="_blank") 在我去工作
          li.footer-link-item
            a(href="http://", target="_blank") 媒体新闻
          li.footer-link-item
            a(href="http://", target="_blank") 数据统计
      .bottom-nav-contact
        h5 关注我们
        ul.footer-links
          li.footer-link-item 
            a(href="http://", target="_blank") 我去博客
          li.footer-link-item 
            a(href="http://", target="_blank") 订阅我去邮件
          li.footer-link-item 
            a(href="http://", target="_blank") Facebook
          li.footer-link-item 
            a(href="http://", target="_blank") Twitter
          li.footer-link-item 
            a(href="http://", target="_blank") 人人主页
          li.footer-link-item 
            a(href="http://", target="_blank") 新浪微博
      .footer-bottom
        .copy-right © 2013 我去
        ul.footer-bottom-links
          li
            a(href="http://", target="_blank") 帮助中心
          li
            a(href="http://", target="_blank") 联系我们
          li
            a(href="http://", target="_blank") 免责声明
          li
            a(href="http://", target="_blank") 在我去工作
          li
            a(href="http://", target="_blank") 开发团队