extends layout
block body
  #main-content
    .intro
      .hero-image(style="background-image: url(/img/hero_artist1.png);")
      .container
        .hero-text
          h1.artist-name Phillip Phillips
          h2.location 北京 国家体育馆
    .container
      .project
        .project-info
          .project-timeline
            h2 项目进度
          .project-des
            h2 项目介绍
            .project-des-wrapper
              iframe(src='//player.vimeo.com/video/53160877?title=0&byline=0&portrait=0', width='630', height='354', frameborder='0', webkitallowfullscreen='webkitallowfullscreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowfullscreen')
          .project-comments
            h2 讨论
        .project-package
