extends layout
block body
	form(id="signup", method="POST", action="/signup/profile")
		lable(for='username') 用户名 
		input#username(type='text', name='username')
		br
		lable(for='city') 所在城市
		input#city(type='text', name='city')
		br
		lable(for='description') 关于自己
		input#description(type='text', name='description')
		br
		input(type="submit", value="完成注册")