extends layout
block body
	form(id="signup", method="POST", action="/signup")
		lable(for='email') Email 
		input#email(type='text', name='email')
		br
		lable(for='password') Password
		input#password(type='password', name='password')
		br
		lable(for='password_confirm') Confirm password 
		input#password_confirm(type='password', name='password_confirm')
		br
		input(type="submit", value="SignUp")