@mixin button($color) {
	background-color: $color;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	border-radius: 4px;
	border: 0;
	color:white;
	-moz-box-shadow:    0px 0px 10px 0px rgba(69,92,54,0.50);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(69,92,54,0.50);
	box-shadow:         0px 0px 10px 0px rgba(69,92,54,0.50);
}

@mixin button-small($color) {
	@include button($color);
	padding: 5px 10px;
}

@mixin button-primary($color) {
	@include button($color);
	padding: 10px 19px;
}

@mixin button-large($color) {
	@include button($color);
	padding: 15px 48px;
}