@function black($opacity){
    @return rgba(0,0,0,$opacity);
}

@function white($opacity){
    @return rgba(255,255,255,$opacity);
}

$primary-green: #B6DCC1;
$primary-gray: #cdcdcd;
$light-gray: #F6F6F6;
$progress-blue: #7BD3F3;
$dark-gray: #151815;
$seam-gray: #333;

$button-primary: rgba(67,219,186,0.95);
$button-shadow: rgba(69,92,54,0.50);